.streamdeck-action {
  border: 1px solid #d3d3d3; /* Light gray border */
  border-radius: 4px;       /* Optional: slightly rounded corners */
  padding: 5px;             /* Optional: spacing between the image and the border */
  display: inline-block;    /* Keeps the figure inline with other elements */
  margin: 2px;
}

.streamdeck-action-svg {
  border-radius: 20px;       /* Optional: slightly rounded corners */
}