{{- if .Params.og_image }}
    {{ $img := resources.Get .Params.og_image }}
    {{ if $img }}
        {{ $img := resources.Copy (path.Join $.Page.RelPermalink .Params.og_image) $img }} 
        {{ if $img.Width }}
            <meta property="og:image:width" content="{{$img.Width}}"/>
        {{ end }}
        {{ if $img.Height }}
            <meta property="og:image:height" content="{{$img.Height}}"/>
        {{ end }}
        <meta property="og:image" content="{{ $img.Permalink }}"/>
        <meta property="twitter:image" content="{{ $img.Permalink }}"/>
        <meta name="twitter:card" content="summary_large_image">
    {{ end }}
{{ end }}